node_modules
# Keep environment variables out of version control
.env
package-lock.json
.DS_Store
src/generated/prisma/edge.js
src/generated/prisma/index-browser.js
src/generated/prisma/index.d.ts
src/generated/prisma/index.js
src/generated/prisma/package.json
src/generated/prisma/schema.prisma
src/generated/prisma/wasm.js
